* { box-sizing: border-box; }

@font-face {
  font-family: 'arial';

}
body { background-image: radial-gradient(circle, #e1dfdf,#cacbce, #e5d08f); color: black; font-size: 14px; }

.buffer { min-height: 100vh }

.background img{width: 100%; z-index: 1;}

main { padding: 40px; }

section { margin-bottom: 1px; color: white; float: left; margin-left:10px; }

section > div:not(.text-wrapper) {
  width: 320px; 
  text-align: center;
  padding: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.text-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  width: 65%;
}

section h3 {
  color: black;
  font-family: 'brewery', sans-serif;
  font-size: 30px;
  margin-top: -5px;
  text-align: center;
  margin-left: 50px;
}
section p { color: black; width: 70%; font-size: 1.25rem; position: relative; margin-top: -250px; margin-left: auto;  }


.hidden { display: none; }

.svg-graphic { width: 150px; }

.main-header {
  margin: 2px 2px 2px 2px; 
  font-size: 2rem;
  font-family: arial, sans-serif;
  padding-top: 20px;
  padding-left: 20px;

}

.main-header img{
  width: 30%;
}

.ufc-info { display: inline-block; vertical-align: top; padding: 30px; border: thin solid white; }

p > span { display: block; padding-bottom: 12px; }

.popover { 
  display: none;
  position: absolute;
  top: 50%;
  left: 150%;
  background-color: black;
  width: 200px;
  z-index: 1;
  padding: 1px;
  cursor: pointer;
}

.show-popover { display: block; 
  position: absolute;
  top: 31px;
  left: 20px;
  background-color: black;
  width: 280px;
  z-index: 1;
  padding: 1px;
  cursor: pointer;
}

.see-more { 
  display: block; 
  padding: 12px 18px; 
  color: white; 
  background-color: black; 
  margin-top: 25px;
  cursor: pointer;
}

.see-more:hover { 
  display: block; 
  padding: 12px 18px; 
  color: white; 
  background-color: #3333ff; 
  margin-top: 25px;
  cursor: pointer;
}